<p id="notice"><%= notice %></p>

<p>
  <strong>Graduationyear:</strong>
  <%= @aaiv_class.graduationYear %>
</p>

<p>
  <strong>Person:</strong>
  <%= @aaiv_class.person %>
</p>

<%= link_to 'Edit', edit_aaiv_class_path(@aaiv_class) %> |
<%= link_to 'Back', aaiv_classes_path %>
