<html>
	<body>
		<div id='attendance-form'>
			<%= form_tag do %>
				<div id='firstname-field'>
					<%= label_tag('firstname','First Name', class:'form-label') %>
					<%= text_field_tag(:person, :firstname, class:"input-field", value:"", placeholder:"first name..") %>
				</div>

				<div id='lastname-field'>
	      	<%= label_tag('lastname','Last Name', class:'form-label') %>
	      	<%= text_field_tag(:person, :lastname, class:"input-field", value:"", placeholder:"last name..") %>
	      </div>

	      <div id='email-field'
	      	<%= label_tag('email','Email', class:'form-label') %>
	      	<%= email_field(:person, :email, placeholder:"@u.northwestern.edu") %>
	      </div>

	      <div id='dorm-field'>
		      <%= label_tag('dorm','Dorm', class:'form-label') %>
		      <%= text_field_tag(:person, :dorm, class:"input-field", value:"", placeholder:"dorm..") %>
		    </div>

		    <div id='phone-field'>
		    	<%= label_tag('user_phone','Phone No', class:'form-label') %>
		    	<%= text_field_tag(:person, :phoneNo, class:"input-field", value:"", placeholder:"(555) 555-5555") %>
		    </div>

		    <div id='year-field'>
		    	<%=select_tag(:person, :year, 
		        "<option>choose year..</option>
		        <option>Freshman</option>
		        <option>Sophomore</option>
		        <option>Junior</option>
		        <option>Senior</option>
		        <option>Other</option>".html_safe) %>
		    </div>

		    <input id="button-submit" type="submit" value="Submit">
			<% end %>
		</div>
	</body>
</html>